data/coco
data/porting
data/skip-thoughts
data/vqa
data/vqa2
data/clevr

utils/qid
utils/pickle_dataset
utils/pickle_modified

logs/porting
logs/vqa_old
logs/vqa
logs/vqa2
logs

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac
.DS_Store
._.DS_Store

.ipynb_checkpoints

utils/pre_trained_model/
file_log.txt
UT/
